<div class="relative" #ListContainer>
  <div
    class="mx-1.5 dark:text-white dark:bg-gray-600 bg-gray-100 rounded-t-xl group"
  >
      @if (!isChangingName) {
          <div #TitleRef class="flex justify-between px-5 py-2.5" [id]="list.id">
                <div class="ellipsis-box-1" [title]="list.title">{{ list.title }}</div>
                <button
                  (mousedown)="removeListAction.emit()"
                  class="remove-list-button hidden border-none mb-auto"
                >
                  &times;
                </button>
          </div>
      } @else {
        <div class="flex justify-between px-5 py-2.5" [id]="list.id">
            <app-input-form
              (textSubmissionAction)="
                isChangingName = false;
                renameList($event)
              "
              [textToShow]="list.title"
            ></app-input-form>
        </div>
      }
  </div>

  <div
    class="list bg-gray-100 dark:text-white dark:bg-gray-600 my-0 mx-1.5 overflow-y-auto"
  >
    <ng-content></ng-content>
  </div>

  <div
    class="bg-gray-100 dark:text-white dark:bg-gray-600 px-4 py-0 mx-1.5 my-0 rounded-b-xl"
  >
    <div class="mb-2 py-2.5 px-1.5">
      @if (!isAddingTask) {
        <button (click)="isAddingTask = !isAddingTask" class="border-none">
          + {{ "list.addAnotherTask" | translate }}
        </button>
      } @else {
        <app-add-task
          (textSubmissionAction)="onTextSubmissionAction($event)"
        ></app-add-task>
      }
    </div>
  </div>
</div>
