<header class="dark:bg-gray-600 bg-gray-100 h-14 fixed top-0 w-full z-10">
  <nav
    class="px-4 h-full w-full flex items-center justify-between"
    aria-label="Global"
  >
    <ng-container *ngIf="selectedBoard | async as board">
      <div class="flex lg:flex-1 lg:gap-x-1 h-full">
        <ng-container *ngIf="board">
          <div
            class="flex items-center text-sm font-semibold leading-6 h-full hover:bg-blue-100 hover:text-gray-500 dark:text-white transition px-4 rounded cursor-pointer w-200 dark:hover:text-black dark:hover:bg-gray-400"
            [title]="board.title"
          >
            <span
              (click)="toggleIsChangingName()"
              *ngIf="!isChangingName; else titleInput"
              class="ellipsis-box-1"
            >
              {{ board.title }}
            </span>
          </div>
          <a
            (click)="DeleteModal.style.display = 'block'"
            class="flex items-center text-sm font-semibold leading-6 h-full hover:bg-blue-100 hover:text-gray-500 transition px-4 rounded cursor-pointer dark:text-white dark:hover:text-black dark:hover:bg-gray-400"
            title="Delete board"
            >{{ "deleteBoard" | translate }}</a
          >
        </ng-container>
      </div>
      <div class="hidden lg:flex h-full">
        <a
          routerLink="/home"
          class="flex items-center text-sm font-semibold leading-6 hover:bg-blue-100 hover:text-gray-500 transition px-4 rounded cursor-pointer dark:text-white dark:hover:text-black dark:hover:bg-gray-400"
          title="Boards"
          >{{ "logo.title" | translate }}</a
        >
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:gap-x-1 lg:justify-end h-full">
        <a
          class="flex items-center text-sm font-semibold leading-6 hover:bg-blue-100 hover:text-gray-500 transition px-4 rounded cursor-pointer dark:text-white dark:hover:text-black dark:hover:bg-gray-400"
          title="Dark mode"
        >
          <app-dropdown>
            <a
              title
              class="flex items-center text-sm font-semibold leading-6 hover:bg-blue-100 hover:text-gray-500 transition px-4 rounded cursor-pointer dark:text-white dark:hover:text-black dark:hover:bg-gray-400"
              id="menu-button"
              aria-expanded="true"
              aria-haspopup="true"
              >{{ "language" | translate }}</a
            >
            <div content class="py-1" role="none">
              <a
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-white dark:hover:text-black dark:hover:bg-gray-400"
                [class.bg-gray-100]="isEnglish"
                (click)="useEnglish()"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
                >en</a
              >
              <a
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-white dark:hover:text-black dark:hover:bg-gray-400"
                [class.bg-gray-100]="isPolish"
                (click)="usePolish()"
                role="menuitem"
                tabindex="-1"
                id="menu-item-1"
                >pl</a
              >
            </div>
          </app-dropdown>
        </a>
        <a
          class="flex items-center text-sm font-semibold leading-6 hover:bg-blue-100 hover:text-gray-500 transition px-4 rounded cursor-pointer dark:text-white dark:hover:text-black dark:hover:bg-gray-400"
          title="Dark mode"
          (click)="toggleDarkMode()"
          >{{ "darkMode" | translate }}</a
        >
        <a
          (click)="AboutModal.style.display = 'block'"
          class="flex items-center justify-center text-sm font-semibold leading-6 hover:bg-blue-100 hover:text-gray-500 transition px-4 rounded cursor-pointer dark:text-white dark:hover:text-black dark:hover:bg-gray-400"
          title="About"
          >{{ "about" | translate }}</a
        >
      </div>
    </ng-container>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <!--  <div class="lg:hidden" role="dialog" aria-modal="true">-->
  <!--    &lt;!&ndash; Background backdrop, show/hide based on slide-over state. &ndash;&gt;-->
  <!--    <div class="fixed inset-0 z-10"></div>-->
  <!--    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">-->
  <!--      <div class="flex items-center justify-between">-->
  <!--        <a href="#" class="-m-1.5 p-1.5">-->
  <!--          <span class="sr-only">Your Company</span>-->
  <!--          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">-->
  <!--        </a>-->
  <!--        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">-->
  <!--          <span class="sr-only">Close menu</span>-->
  <!--          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
  <!--            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />-->
  <!--          </svg>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--      <div class="mt-6 flow-root">-->
  <!--        <div class="-my-6 divide-y divide-gray-500/10">-->
  <!--          <div class="space-y-2 py-6">-->
  <!--            <div class="-mx-3">-->
  <!--              <button type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false">-->
  <!--                Product-->
  <!--                &lt;!&ndash;-->
  <!--                  Expand/collapse icon, toggle classes based on menu open state.-->

  <!--                  Open: "rotate-180", Closed: ""-->
  <!--                &ndash;&gt;-->
  <!--                <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
  <!--                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />-->
  <!--                </svg>-->
  <!--              </button>-->
  <!--              &lt;!&ndash; 'Product' sub-menu, show/hide based on menu state. &ndash;&gt;-->
  <!--              <div class="mt-2 space-y-2" id="disclosure-1">-->
  <!--                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Analytics</a>-->
  <!--                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Engagement</a>-->
  <!--                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Security</a>-->
  <!--                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Integrations</a>-->
  <!--                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Automations</a>-->
  <!--                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Watch demo</a>-->
  <!--                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contact sales</a>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>-->
  <!--            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>-->
  <!--            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>-->
  <!--          </div>-->
  <!--          <div class="py-6">-->
  <!--            <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</header>

<ng-template #titleInput>
  <ng-container *ngIf="selectedBoard | async as board">
    <app-input-form
      (textSubmissionAction)="
        toggleIsChangingName();
        renameBoard(board.id, $event.text);
      "
      [textToShow]="board.title"
    ></app-input-form>
  </ng-container>
</ng-template>

<div
  #DeleteModal
  class="fixed hidden z-10 left-0 top-0 w-screen h-screen overflow-auto bg-black bg-opacity-40"
  (click)="DeleteModal.style.display = 'none'"
>
  <div class="flex justify-center items-center w-full h-full">
    <ng-container *ngIf="selectedBoard | async as board">
      <div
        class="dark:bg-gray-600 dark:text-white bg-white p-5 max-w-xl w-3/5 rounded-xl relative"
        (click)="$event.stopPropagation()"
      >
        <button
          class="absolute top-3 right-3 text-xl font-semibold leading-6 dark:hover:bg-gray-400 dark:hover:text-black hover:bg-blue-100 hover:text-gray-500 transition py-2 px-4 rounded cursor-pointer"
          (click)="DeleteModal.style.display = 'none'"
        >
          &times;
        </button>
        <div class="header">
          <h3>
            {{ "deleteModal.question" | translate: { title: board.title } }}
          </h3>
        </div>
        <div class="flex items-center justify-center gap-3.5 mt-3">
          <button
            class="text-sm font-semibold leading-6 dark:hover:bg-gray-400 dark:hover:text-black hover:bg-blue-100 hover:text-gray-500 transition py-3 px-6 rounded cursor-pointer"
            (click)="removeBoard(board.id); DeleteModal.style.display = 'none'"
          >
            {{ "deleteModal.yes" | translate }}
          </button>
          <button
            class="text-sm font-semibold leading-6 dark:hover:bg-gray-400 dark:hover:text-black hover:bg-blue-100 hover:text-gray-500 transition py-3 px-6 rounded cursor-pointer"
            (click)="DeleteModal.style.display = 'none'"
          >
            {{ "deleteModal.no" | translate }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div
  #AboutModal
  class="fixed hidden z-10 left-0 top-0 w-screen h-screen overflow-auto bg-black bg-opacity-40"
>
  <div class="flex justify-center items-center w-full h-full">
    <div
      class="dark:bg-gray-600 dark:text-white bg-white p-5 max-w-xl w-3/5 rounded-xl relative"
    >
      <button
        class="absolute top-3 right-3 text-xl font-semibold leading-6 dark:hover:bg-gray-400 dark:hover:text-black hover:bg-blue-100 hover:text-gray-500 transition py-2 px-4 rounded cursor-pointer"
        (click)="AboutModal.style.display = 'none'"
      >
        &times;
      </button>
      <div class="flex justify-center font-semibold leading-6">
        <h3>{{ "aboutModal.description" | translate }}</h3>
      </div>

      <p class="mt-5">
        <span class="mb-9">{{ "aboutModal.content1" | translate }}</span>
        {{ "aboutModal.content2" | translate }}
      </p>

      <div class="mt-5">
        <div class="flex justify-center font-semibold leading-6">
          <h3>{{ "aboutModal.howToUse" | translate }}</h3>
        </div>
        <div class="flex justify-center">
          <ul>
            <li>{{ "aboutModal.howToUse1" | translate }}</li>
            <li>{{ "aboutModal.howToUse2" | translate }}</li>
          </ul>
        </div>
      </div>

      <div class="flex justify-center mt-5">
        <div class="author">
          <div class="flex justify-center">
            {{ "aboutModal.madeBy" | translate
            }}<strong>&nbsp;Andrii Bilych</strong>
          </div>
          <div class="flex justify-center gap-3">
            <a
              class="text-sm font-semibold leading-6 hover:bg-blue-100 dark:hover:bg-gray-400 dark:hover:text-black hover:text-gray-500 transition py-3 px-6 rounded cursor-pointer"
              href="https://www.linkedin.com/in/andrii-bilych/"
              target="_blank"
              >LinkedIn</a
            >
            <a
              class="text-sm font-semibold leading-6 hover:bg-blue-100 dark:hover:bg-gray-400 dark:hover:text-black hover:text-gray-500 transition py-3 px-6 rounded cursor-pointer"
              href="https://github.com/AndriiBilych"
              target="_blank"
              >Github</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
